.aboutmediv {
    background-color: #23394d;
    max-height: 40vh;
    height: auto;
    max-width: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    text-align: left;
    
}

.newdiv {
    max-width: 90%;
}

.links {
    margin-top: 2vh;
    font-size: 1.5rem;
    height: 10vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    padding-top: 3vh;

}

.githublink {
    display: flex;
    justify-content: center;
    max-width: 4vh;
    max-height: 4vh;
    margin-right: 4vh;
    margin-left: 7vh;

}

.linkedinlink {
    display: flex;
    justify-content: center;
    max-width: 4vh;
    max-height: 4vh;
    ;
    margin-right: 4vh;
}

.instagramlink {
    display: flex;
    justify-content: center;
    max-width: 4vh;
    max-height: 4vh;
    margin-right: 4vh;
}

.iconlife {
    margin-right: 4vh;
    transition: all 0.2s ease-in-out;
    color: #afc3d6;
}


.iconlife:hover {
    color: white;
    font-size: 1.7rem;
}


@media(min-width: 768px) {
    .aboutmediv {
        height: 50vh
    }
}