.storadiv {
    background-color: #23394d;
    height: auto;
    display: flex;
    justify-content: center;
    

}

.aboutmecontainer {
    background-color: #23394d;
    max-width: 65vh;
    padding: 2vh;
    padding-top: 6vh;
    height: auto;
    text-align: left;

}
.fixingit, .fixingit2, .fixingit3, .fixingit4, .fixingit5 {
    display: flex;
    justify-items: center;
    border: 1px solid #c3cacf;
}

.fixingit {
    margin-top: 4vh;
}

.fixingit2 {
    width: 50%;
}

.fixingit3 {
    width: 40%;
}

.fixingit4 {
    width: 30%;
}

.fixingit5 {
    width: 20%;
    transition: all 0.3s ease-in-out;
}

.fixingit:hover, .fixingit2:hover, .fixingit3:hover, .fixingit4:hover, .fixingit5:hover {
    border: 1px solid rgb(255, 255, 255);
   
}

@media (min-width: 1100px) {
    .aboutmecontainer {
        max-width: 80vh;
    }
}