.skillsectiondiv{ 
    background-color:#23394d;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    
}

.skillcontainer{ 
    background-color:#23394d;
    padding:2vh;
    width: 95%;
   

}
.containsall{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.skillcontainer:hover{ 
    background-color:#23394d;
    box-shadow: 1px 2px 4px 4px rgba(160, 160, 160, 0.3);
    border-radius: 4vh;
    background-color:#253b4d;
    transition: all 0.6s ease-in-out;
    width: 95%;

}
.technopart, .versionss, .database, .tools, .distrubuuut, .testing{
    color: #afc3d6;
    list-style-type: none;
}


.deletliststyle{
    list-style-type: none;
    padding-right: 3vh;
    
}
.heading{
    color: #dde4eb;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

li{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@media (min-width: 768px) {
    
    .divfirsttop, .divfirstbottom{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2vh;
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
    }
    li{
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .heading{
        color: #dde4eb;
        font-size: 1.1rem;
        font-weight: 600;
        padding-left: 3vh;
    
    }
}

@media (min-width: 850px){
    .heading{
        color: #dde4eb;
        font-size: 1.3rem;
        font-weight: 600;
        padding-left: 2vh;
    
    }
    li{
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

}
@media (min-width: 950px) {
    .heading {
        margin-left: 1vh;
        
    }
    .tools{
        width: 17vh;
    }
    .testing{
        width: 16vh;
    }
  
}
@media (min-width: 1100px) {
    .heading {
        font-size: 1.4rem;
        padding-left: 1vh;
    }
    .tools, .testing {
        width: 20vh;
    }
    .divfirsttop, .divfirstbottom{
       height: 27vh;
    }
    .skillcontainer:hover{ 
        height: auto;
    
    }
   
}
@media (min-width: 1200px) {
   
    
    .skillcontainer:hover {
        
    }
    .technopart, .versionss, .database, .tools, .distrubuuut, .testing{
        margin-right: 2vh;
    }
    .skillcontainer:hover{ 
       
        width: 80%;
    
    }
    .skillcontainer{ 
        width: 80%;
       
    }
}
