.skillsectiondiv{ 
    background-color:#23394d;
    max-height: 45vh;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    
}

.skillcontainer{ 
    background-color:#23394d;
    padding:2vh;
   

}
.containsall{ 
    display: flex;
    justify-content: center;
    font-weight: 600;
    flex-wrap: wrap;
}

.skillcontainer:hover{ 
    background-color:#23394d;
    box-shadow: 1px 2px 4px 4px rgba(160, 160, 160, 0.3);
    border-radius: 4vh;
    background-color:#253b4d;
    transition: all 0.6s ease-in-out;
    width: 92%;
    height: 45vh;
}
.technopart, .versionss, .database, .tools, .distrubuuut, .testing{
    color: #afc3d6;
}
